.item__image{
    width:100px;
    height:100px;
}

.item__item-name{
    font-size:1.5em;
    font-weight:bold;
}

.item__description{
    text-align: justify !important;
}

.page-title{
    text-align:center;
    color:var(--PrimaryColor);
}

.search{
    width:200px;
    border:1px solid #000000;
    border-radius:2px;
    background:none;
}


.loadmore-button{
    margin-top:5px;
    background:none;
    border-radius:50px;
    border:none;/*1px solid black;*/
    width:75%;
    padding:10px;
    outline:none !important;
}

.loadmore-button:selected{
    outline:none !important;
}

.loadmore-button:hover{
    background-color:rgba(211,211,211,0.25)
}

.dropdown:hover .dropdown-menu{
    display:block;
}

.fa-spinner{
	font-size:100px;
	color:var(--PrimaryColor);
	z-index: 10000;
	opacity:1.0;
}

.loader{
	width: 60px;
    height: 60px;
    display: none;
    position:fixed;
    top:50%;
    bottom:50%;
    left:50%;
    right:50%;
}


.featured-items-row--top-items{
	display:flex;
	flex-direction: row;
	width:100%;
	flex-wrap: wrap-reverse;
	align-items: center;
	justify-content: center;
}

.featured-item{
	width:45% !important;
	margin:1em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

@media(min-width: 786px){
	.featured-item:nth-child(3){
		width:100% !important;
		flex-wrap: unset;
	}
}


@media(max-width:768px){
	.featured-item{
		width: 100% !important;
	}
}

.recommendations-section{
	column-gap: 1em;
}

.featured-item img{
	width:100%;
	max-width:300px;
	max-height:300px;
	object-fit: cover;
}

/* Masonry on large screens */
@media (min-width: 1024px) {
  .recommendations-section {
    column-count: 4;
  }
}

/* Masonry on medium-sized screens */
@media (max-width: 1023px) {
  .recommendations-section {
    column-count: 3;
  }
}

/* Masonry on small screens */
@media (max-width: 767px) {
  .recommendations-section {
    column-count: 2;
  }
}

.recommendation{
	width: 100%;
    display: inline-block;
    background-color: #eee;
    margin: 0 1em 2em 1em;
    position: relative;
    color:#000000 !important;
}

.recommendation a{
	color:#000000;
}

.recommendation-body h3, .recommendation-body h4, .recommendation-body p{
	color:#000000;
	text-align: center
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}