:root{
	--DarkPrimaryColor:#0288D1;
	--LightPrimaryColor:#B3E5FC;
	--PrimaryColor:#03A9F4;
	--TextColor:#FFFFFF;
	--IconColor: #FFFFFF;
	--AccentColor: #607D8B;
	--PrimaryText: #212121;
	--SecondayText: #757575;
	--DividerColor: #BDBDBD;
}

.content{
    max-width:1250px;
    margin-left:auto;
    margin-right:auto;
}

.navbar-brand{
    color:lightblue;
}


.confirmation-message{
	color:green;
}

.error-message{
	color:red;
}

.actions button, .primaryButton{
	margin:5px;
	background:transparent;
	padding:2px;
	font-size:18px;
	border:1px solid #ccc;
	min-width:100px;
}

.actions button:hover, .primaryButton:hover{
	background:#ccc;
	color:#fff;
	-webkit-transition: linear .25s;
	-moz-transition: linear .25s;
	-o-transition: linear .25s;
	transition: linear .25s;
}

#snackbar{
	visibility: hidden;
	min-width:250px;
	margin-left:-125px;
	background-color:#333;
	color:#fff;
	text-align: center;
	border-radius: 2px;
	padding:16px;
	position:fixed;
	z-index: 1;
	left:50%;
	bottom:30px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* Buttons */
.uf-button{
	padding:5px;
	font-size:14px;
	border:none;
	border-radius: 2px;
	position:relative;
	height:36px;
	min-width:64px;
	padding: 0 16px;
	display: inline-block;
	overflow:hidden;
	will-change:box-shadow;
	transition:box-shadow .2s cubibezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,2,1), color .2s cubic-bezier(.4,0.2,1);
	outline: none;
	cursor:pointer;
	text-decoration: none;
	text-align: center;
	line-height: 36px;
	vertical-align: middle;
	width:100%;
} 

.uf-button--flat:hover{
	background-color:var(--LightPrimaryColor);
}

.uf-button--flat.uf-button--secondary{
	background:transparent;
	color:var(--PrimaryText);
}

.uf-button--border{
	border:1px solid var(--PrimaryText);
}

.uf-button--raised.uf-button--colored{
	background:var(--PrimaryColor);
	color:var(--TextColor);
}

.uf-button--ripple:after{
	content: "";
    background: var(--LightPrimaryColor);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.uf-button--ripple:active:after{
	padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

.uf-button:active{
	outline:none;
}


/* Links */
.uf-link{
	cursor: pointer;
}

.uf-link:hover{
	text-decoration: none;
}

.uf-link--dark{
	colof:var(--PrimaryText);
}

.uf-link--light{
	color:var(--DividerColor);
}

.uf-link--light:hover{
	text-decoration: none;
	color:var(--SecondaryText);
}

/* Select box */
